# These files are text and should be normalized (convert lf => crlf)
*.cs      text eol=crlf diff=csharp
*.xaml    text eol=crlf
*.csproj  text eol=crlf
*.sln     text eol=crlf
*.tt      text eol=crlf
*.ps1     text eol=crlf
*.cmd     text eol=crlf
*.msbuild text eol=crlf
*.md      text eol=crlf
*.js      text eol=crlf
*.css     text eol=crlf
*.sql     text eol=crlf
